<article class="schedule-match">
  {{!--
  <Rental::Image src={{@match.image}} alt="A picture of {{@match.title}}" /> --}}
  <h3 class="match-title">
    <LinkTo @route="match" @model={{@match}}>
      {{@match.title}}
    </LinkTo>
  </h3>
  <div class="details">
    <br>
    <div class="detail ">
      <span>Team A:</span> {{@match.teamA}}
    </div>
    <div class="detail ">
      <span>Team B:</span> {{@match.teamB}}
    </div>
    <div class="detail ">
      <span>Date:</span> {{@match.date}}
    </div>
    <div class="detail ">
      <span>Time:</span> {{@match.time}}
    </div>
  </div>
</article>